<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Limit</th>
      <th>Task</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
    <tr>
      <td><%= t.state %></td>
      <td><%= t.limit_date %></td>
      <td><%= t.task %></td>
      <td>
        <!-- 次のタスク詳細取得画面へのリンク -->
        <a href="/tasks/<%= t.id %>">edit</a>
      </td>
      <td>
        <!-- まだ実装しない -->
        <button type="submit">delete</button>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>